body { margin: 0; padding: 0; box-sizing: border-box; }
* { color: #fff; }
a { text-decoration: none !important; }
.btn:hover { box-shadow: 0 10px 20px #ffffff40 !important; }

/* header */
.header { position: fixed; top: 0; left: 0; right: 0; margin-top: 15px; width: 100%; z-index: 9999; background: transparent; display: block; }
.header-menu { display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; }
.header .navbar { background: transparent !important; }
.nav-menu-item { display: flex; flex-direction: row !important; list-style: none; margin: 0; padding: 0; }
.header .nav-item .nav-link { font-size: 14px; font-weight: 700; color: #fff !important; padding: 0 15px; }
.collapse.show .navbar-nav { background-color: #fff; padding: 10px 0; flex-direction: column !important; }
.collapse.show .navbar-nav .nav-item { padding: 10px; }
.collapse.show .navbar-nav .nav-item:hover { background-color: #27A0FF; }
.collapse.show .navbar-nav .nav-item .nav-link { color: #000 !important; }


/* banner */
.welcome_banner {
    background-image: url(assets/img/bgtop.png);
    min-height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.organizer_banner{
    background-image: url(assets/img/bgorganizer.png);
    min-height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* modal */

.modal { z-index: 99999 !important; color: #000;background-color: rgba(0, 0, 0, 94%); }
.modal-content{background-color: #F5F5F5 !important;}
.modal-dialog { top: 50%; left: 50%; transform: translate(-50%, -50%) !important; margin: 0 !important; }
.modal .modal-dialog .modal-content .btn-close { position: absolute; top: -20px; right: -35px; background-color: #fff; border-radius: 50%; opacity: .9; padding: 10px; }
.modal-inr { padding: 20px 30px; }
.modal-inr h2 { font-size: 25px; color: #000; margin-bottom: 20px; font-weight: 700; }
.fb-login { background-color: #3F5895; padding: 15px 20px; border-radius: 10px; margin-bottom: 10px; }
.fb-login a, .signup a { color: #fff; font-size: 20px; font-weight: 600; display: flex; justify-content: space-between; align-items: center; }
.fb-login a:hover, .signup a:hover { color: #fff; }
.signup { background-color: #4BA3F8; padding: 15px 20px; border-radius: 10px; margin-bottom: 20px; }
.login-detail-inr input, .signup-detail-inr input {border: none; padding: 10px;padding-left: 50px; margin-bottom: 20px; background-color: #fff; border-radius: 10px;box-shadow: 0 2px 5px #00000050; }
.lg-bt, .sign-bt { background-color: #4BA3F8 !important; color: #fff !important; font-size: 20px !important; font-weight: 600 !important; border-radius: 10px !important; width: 100%; }
.lg-bt, .sign-bt { display: flex !important; justify-content: space-between; align-items: center; padding: 10px !important; border: none !important;}
.signup-detail-inr { margin-bottom: 30px; }
.modal-inr p { font-size: 14px; color: #999999; margin: 0; }
.signed-bt { font-size: 14px; color: #999999; }
.input-ic {
    fill: #888888;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
}
.cart-modal .modal-dialog{max-width: 1000px;}
.cart-modal .btn-close{background: none !important;color: #fff;opacity: 1 !important;top: -20px !important;left: 0 !important;width: 50px;}
.cart-modal .btn-close:hover{color: #fff;}
.cart-modal .modal-content{background: none !important;color: #fff;}
.cart-modal .modal-inr h2{color: #fff;margin-bottom: 10px; }
.cart-modal .modal-inr p{color: #fff;font-size: 18px;margin: 15px 0;}
.cart-modal .modal-inr p:last-child{font-size: 14px;}
.ticket-bt-inr .btn-orange{display: flex;justify-content: space-between;align-items: center;font-size: 18px;font-weight: 700;}
.add-ticket .add-bt{background-color: #848484;color: #fff;padding: 5px 10px;margin-right: 10px;}
.ticket-price .bg-black{background-color: rgba(0, 0, 0, 43%) !important;margin-left: 15px;}
.ticket-main .ticket-price{width: 100%;display: flex;justify-content: space-between;align-items: center;background-color: #ff4d00;padding: 5px 10px;border-radius: 10px}
.ticket-price h3{margin: 0;}
.ticket-price .price-number{font-size: 18px;}

/*header*/
.banner { position: relative; }
.banner-logo { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);width:150px;}

/*upcoming-event*/
.upcoming-event, .event-oganizer, .Profile-main { background-color: #333333; }
.upcoming-event-inr { padding: 50px 25px; }
.event-item:hover .event-loc { background: linear-gradient(0deg, rgba(0, 0, 0, 0.66) 0%, rgba(0, 0, 0, 0) 100%); transition: 0.4s easy-in-out; }
.sec-title { display: inline-block; position: relative; }
.sec-title h2 { font-weight: 700; font-size: 32px; color: #fff; margin-bottom: 30px;}
.event-img { position: relative; margin-bottom: 15px; }
.event-loc { padding: 10px; position: absolute; left: 0; bottom: 0; width: 100%; }
.event-loc span { color: #fff; font-size: 16px; font-weight: 600; }
.event-info h3 { font-size: 22px; color: #fff; font-weight: 600; }
.event-info p { font-size: 16px; color: #fff; margin: 0; }

/*upcoming-event*/

/*img-gallry*/

.img-gallry-inr .sec-title { padding-left: 25px; }
.img-gallry-inr .sec-title h2 { display: flex; align-items: center; position: relative; }
.img-gallry-inr .sec-title h2 span:after { content: " "; width: 15px; height: 15px; background-color: #fff; border-radius: 100%; position: absolute; right: 50px; top: 50%; transform: translate(0, -50%); }
.img-gallry-inr .sec-title span { padding-right: 50px; }

/*img-gallry*/

/* organizer event page */
.event-oganizer { padding: 70px 50px 10px; }
.event-loc-info { position: relative; padding: 15px 20px; background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%); }
.event-loc-info h3 { font-size: 22px; font-weight: 600; }
.event-loc-info span { font-size: 16px; font-weight: normal; }
.event-price { padding: 7px 30px; background-color: #179DFF; position: absolute; border-radius: 0 0 0px 10px; top: 0; right: 0; }
.oganizer-event-inr { margin-bottom: 20px; }
.oganizer-event-inr .event-img { margin: 0; }
.event-oganizer .sec-title { margin-bottom: 30px; }
.event-oganizer .sec-title h2, .eventdetail-main-inr .sec-title h2 { padding: 0 20px; }
.event-oganizer .sec-title:after { content: " "; position: absolute; width: 100%; height: 10px; border-radius: 20px; background-color: #179dff; bottom: 0; }
.event-desscripation { margin-bottom: 50px; }
.event-des-info p { font-size: 22px; }
.event-des-info p a { color: #179DFF; }
.event-location-info-inr { margin-bottom: 20px; }
.event-location-info-inr h3, .event-location-info-inr p { font-size: 22px; margin: 0 !important; }
.event-location-info-inr button.btn { background-color: #fff; border-radius: 8px; border-color: #707070; font-size: 16px; color: #000; font-weight: 600; margin-top: 15px; padding: 10px 25px; }
.event-location-info .event-location-info-inr:last-child { margin: 0; }
.event-location { margin-bottom: 50px; }
.event-contact-info h3, .event-contact-info p, .event-contact-info span, .event-contact-info a { font-size: 22px; margin: 0; }
.event-contact-info a, .event-contact-info span { color: #179def !important; }
.event-contact-info { margin-bottom: 20px; }
.event-contact .event-contact-info:last-child { margin: 0; }

/* profile page */
.profile-main-inr { padding: 100px 50px 50px; min-height: 100vh; }
.profile-info .nav-tabs { border: none; }
.profile-info .nav-tabs .nav-link.active { color: #fff !important; background: none; border: none; }
.profile-info .nav-tabs .nav-link { font-size: 24px; color: #999999; font-weight: 700; transition: none;border: none; }
.profile-info .nav-tabs .nav-link:focus, .profile-info .nav-tabs .nav-link:hover { border: none; isolation: auto }
.profile-info .tab-content-info { padding: 30px 15px; }
.tab-content-info .event-info, .new-event { margin-bottom: 30px; }
.tab-content-info .event-loc span { font-size: 18px; }
.profile-event-item .event-loc { background: linear-gradient(0deg, rgba(0, 0, 0, 0.66) 0%, rgba(0, 0, 0, 0) 100%); }
.payment-title h3 { font-size: 22px; margin-bottom: 15px; }
.payment-type-inr { padding: 10px 20px; background-color: #404040; display: flex; align-items: center; justify-content: space-between; }
.payment-type-method span { font-size: 16px; }
.payment-type-inr span { display: flex; align-items: center; }
.tab-content-info .form-check-input { width: 25px; height: 25px; position: relative; margin-right: 20px; margin-top: 0; }
.form-check-input:checked:after { content: " "; position: absolute; width: 15px; height: 15px; background-color: #000; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.form-check-input:checked { background-color: #fff !important; border: none !important; }
.user-profile-info-title h3 { font-size: 16px; }
.user-details{width: 100%;position:relative;padding-left:50px !important;background-color:#404040;padding: 10px 15px 3px;border-radius: 10px;margin-bottom: 10px;}
.user-details .form-label{margin: 0;font-size: 14px;color: #7A7A7A;}
.user-details .form-control{border: none;background: transparent;color: #fff;padding: 5px 0;}
.user-details .form-control:selection{background: none !important;}
.user-details .form-control:focus {color: #fff;background-color: transparent;border: none;box-shadow: none;border-bottom: 1px solid #fff;}
.user-details .profile-input-ic{position: absolute;left: 10px;top: 50%;transform: translate(0 , -50%);font-size: 25px;}
.link-account{margin-top: 30px;}
.link-account .fb-login{margin-bottom: 30px;}
.user-details-info{display: flex;justify-content: space-between;}
.user-details-bt {width: 100%;color: #fff !important;background-color: #4BA3F8 !important;font-size: 18px !important;font-weight: 600 !important;}
.user-details-bt:hover{color: #fff;}
.user-select{background-color: #404040 !important;color: #fff !important;border: none !important;}
.form-select:focus {border-color: #404040 !important; outline: 0;box-shadow:none !important;}
.user-details-top .user-details{padding: 10px 10px 0 !important;margin-right: 10px;}
.user-details-top .user-details:first-child{display: flex;justify-content: center;align-items: center;padding-bottom: 10px !important;}
.user-details-top .user-details:last-child{margin-right: 0;}



/*Event details  */
.eventdetail-banner { background-image: url('assets/img/bgorganizer.png'); position: relative;background-position: center;background-repeat: no-repeat;background-size: cover;}
.eventdetail-banner:after { content: " "; position: absolute; background-color: rgba(23, 23, 23, 80%); top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%; z-index: 0; }
.eventdetail-ticket-main { position: relative; z-index: 99; }
.eventdetail-inr-left { background-color: rgba(0, 0, 0, 62%); padding: 150px 0; height: 100%; }
.eventdetail-inr-right { padding: 150px; }
.eventdetail-img img { width:calc(100% + 34px) !important; margin-left: -16px; }
.eventdetail-info { padding: 20px; }
.eventdetail-info-inr ul { padding: 0; margin-bottom: 30px; list-style: none; }
.eventdetail-info-inr ul li { margin-bottom: 10px; }
.eventdetail-info-inr ul li:last-child { margin-bottom: 0; }
.btn-orange { background-color: #FF4D00 !important; color: #fff !important; width: 100%; border-radius: 10px !important; margin-bottom: 30px; font-size: 24px !important; }
.btn-orange span { font-size: 16px; }
.social-info-eventdetail h4, .eventdetail-title h4 { color: #fff; font-size: 14px; padding-bottom: 10px; border-bottom: 1px solid #4B4B4B; margin-bottom: 15px; }
.social-info-eventdetail a { font-size: 22px; color: #fff; }
.ticket-ul { margin: 0; padding: 0; list-style: none; }
.ticket-ul .ticket-li { display: flex; margin-bottom: 5px; }
.ticket-ul .ticket-li .ticket-info-left { padding: 10px; border-radius: 10px 0 0 10px; background-color: #fff; width: 100%; }
.ticket-ul .ticket-li .ticket-info-right { padding: 20px 10px; background-color: #27A0FF; border-radius: 0 10px 10px 0; display: flex; align-items: center; }
.ticket-ul .ticket-li h4, .ticket-li span { font-size: 16px; color: #000; margin: 0; }
.eventdetail-main-inr { padding: 50px 0; background-color: #333333; }
.eventdetail-main .sec-title, .Featured-talent { margin-bottom: 30px; }
.eventdetail-main-inr .sec-title:after { content: " "; position: absolute; width: 100%; height: 10px; border-radius: 20px; background-color: #179dff; bottom: 0; }
.eventdetail-info-text p { font-size: 22px; font-weight: normal; margin-bottom: 20px; }
.eventdetail-info-text-inr a { color: #179DFF; font-size: 22px; }
.eventdetail-time-info ul { margin: 0 0 20px 0; padding: 0; list-style: none; }
.eventdetail-time-info ul li { font-size: 22px; }
.eventdetail-time-info button { background-color: #fff; color: #000; font-size: 16px; font-weight: 600; padding: 10px 25px !important; border-radius: 8px; }
.eventdetail-info-text, .sponser-main, .event-contact { margin-bottom: 50px; }
.Featured-talent-inr-info { position: relative; margin-bottom: 20px; }
.featured-img-info { padding: 10px 20px; background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 20%) 0%, rgba(0, 0, 0, 0.9) 100%); width: 100%; position: absolute; bottom: 0; }
.featured-img-info h3 { font-size: 22px; font-weight: 700; margin: 0; }
.featured-img-info p { font-size: 16px; margin-bottom: 0; }
.event-terms p { font-size: 22px; font-weight: normal; margin-bottom: 20px; }

/* event details layout2 */
.layout2 .eventdetail-inr-left { padding: 100px 0; }
.layout2 .eventdetail-inr-right { padding: 80px 150px 20px; }
.layout2 .events-ticket-info, .layout2 .ticket-ul { margin-bottom: 30px; }
.layout2 .social-info-eventdetail h4 { border-color: #fff !important; }
.layout2 .btn-orange { margin-bottom: 0; }



/* shoping cart */
.cart-main{background-color: #000;padding: 80px 0 83px;}
.cart-left-main, .cart-right-main{padding: 0 60px;}
.cart-right-main .modal-inr{background-color: #F5F5F5;}


/* shoping cart info */
.pay-ticket-info{background-color: #fff;border-radius: 10px;padding: 15px;display: flex;justify-content: space-between;align-items: center;margin-bottom: 20px;}
.pay-ticket-info-inr h4, .ticket-count h4, .sub-title h4{font-size: 18px;color: #262626;margin-bottom: 0;}
.pay-ticket-info-inr span{font-size: 14px;color: #262626;}
.ticket-total-inr{display: flex;justify-content: space-between;align-items: center;margin-bottom: 15px;}
.ticket-total-inr span{font-size: 18px;margin: 0;}
.ticket-total-inr h4{font-size: 24px;margin: 0;}
.sub-title{display: flex;justify-content: space-between;align-items: center;margin-bottom: 15px;}
.sub-title h4:first-child{color: #858585;}
.pay-info-inr{position: relative;margin-bottom: 10px;}
.pay-info-inr .form-control{padding-left: 40px !important;border: none;padding: 15px;}
.pay-info-inr .form-control:nth-of-type(2){padding-left: 15px !important;width: 40%;}
.pay-info-inr .input-ic{left: 15px;}
.pay-info-inr .form-select{border: none;padding: 15px;}
.pay-info-inr .form-select.form-control{margin-right: 10px;}
.pay-info-inr .back-bt{background-color: #919191;color: #fff;font-size: 18px;padding: 15px 20px;margin-right: 10px;}
.pay-info-inr .confirm-price{background-color:#4BA3F8;padding: 15px;display: flex;justify-content: space-between;align-items: center;width: 100%;border-radius: 5px;}
.pay-info-inr .confirm-price h3{font-size: 20px;margin: 0;}

/*footer*/
.footer { background-color: #535353; }
.footer .nav-item .nav-link { font-size: 16px; font-weight: 700; color: #fff !important; padding: 0 !important; }
.footer-logo { display: flex; align-items: center; }
.footer-ic a { font-size: 25px; padding: 0 10px; }
.footer .navbar-nav .nav-item { margin: 0 20px; }
.footer .navbar-nav .nav-item:last-child { list-style-type: disc !important; }
.footer .navbar { justify-content: space-between !important; }

/*footer*/

.masonry { 
    -webkit-column-count: 4;
    -moz-column-count:4;
    column-count: 4;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}
.item {
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    -webkit-transition:1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
}
.item img{max-width:100%; height: auto;}


@media screen and (max-width:991px) {
    .navbar-toggler { background-color: #fff !important; }
    .sec-title h2 { font-size: 28px; }
    .eventdetail-ticket-main { padding: 20px; }
    .eventdetail-inr-right { padding: 30px 0 !important;}
    .eventdetail-inr-left { padding: 100px 0 50px; }
    .eventdetail-main-inr, .event-oganizer { padding: 50px 20px; }
    .profile-main-inr { padding: 100px 0 30px; }
    .footer .navbar {
        justify-content: center !important;
        flex-direction: column;
    }
    .event-location-info, .Featured-talent-inr-info{
        margin-bottom: 30px;
    }
    .footer .navbar .navbar-nav{
        flex-direction: row;
    }
    .footer .navbar .container-fluid {
        justify-content: center !important;
    }
    .welcome_banner,.organizer_banner{min-height: 350px;}
}

@media screen and (max-width:767px) {
    .header{margin: 0;}
    .modal-dialog{
        padding: 0 20px;
    }
    .cart-modal .modal-dialog{top: 100% !important;}
    .cart-modal .modal-inr{padding: 20px 0;}
    .modal .modal-dialog .modal-content .btn-close{right: -15px;opacity: 1;}
    .masonry{column-count: 1;}
    .profile-info .nav-tabs .nav-link{padding: 5px 10px;}
    .user-profile-info{margin-bottom: 20px;}
    .user-details-info{display: block;}
    .footer .navbar .navbar-nav {
        flex-direction: column;
    }
    .cart-left-main, .cart-right-main {
        padding: 0 20px;
    }
    .cart-right-main .modal-inr{
        padding: 15px;
    }
    .sub-title h4{font-size: 15px;}
    .pay-info-inr .form-control:nth-of-type(2){width: 50%;}
    .welcome_banner, .organizer_banner{min-height: 170px;}
}